---
- name: "ensure template bucket exists"
  s3:
    bucket: "{{cloudformation_bucket}}-{{cloudformation_region}}"
    mode: "create"
    region: "{{cloudformation_region}}"
- include: "cf.yml"
  when: blok_anan_action == "bespoke"
- include: "ses_dns.yml"
  when: blok_anan_action == "ses_dns"
